<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.wty.BrightnessControl.SleepHelper</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/local.wty.BrightnessControl.SleepHelper</string>
	</array>
  <key>AssociatedBundleIdentifiers</key>
  <array>
    <string>local.wty.BrightnessControl</string>
  </array>
  <key>MachServices</key>
  <dict>
    <key>local.wty.BrightnessControl.SleepHelper</key>
    <true/>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Interactive</string>
</dict>
</plist>
